.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
@media (min-width: 700px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}
